/* Intro Section */

.category-intro {
    display: block;
    width: 100%;
    height: 415px;
    position: relative;
    background-repeat: no-repeat;
    background-position: center top;

    .container {
        position: relative;
        height: 100%;

        .intro-header {
            display: inline-block;
            position: absolute;
            padding: 30px 40px;
            border-radius: 6px;
            left: 40px;
            bottom: 40px;

            h1 {
                display: inline-block;
                padding: 0;
                margin: 0;
                font-size: 30px;
                color: #fff;
                font-weight: 700;
            }
        }

        @media screen and (max-width: 1100px) {
            .intro-header {
                left: 50%;
                transform: translateX(-50%);

                h1 {
                    text-align: center;
                    font-size: 22px;
                }
            }
        }
    }
}

/* Description Section */

.category-section-description {

    .row {
        display: block;
        width: 100%;
        margin-top: 40px;

        .description {
            display: block;
            width: 33.3%;
            float: left;
            box-sizing: border-box;
            padding: 0 0 0 0;
            position: relative;

            p {
                display: block;
                position: relative;
                top: 50%;
                transform: translateY(-50%);
                margin: 0;
                padding: 0;
                color: #6a6a6a;
                font-size: 18px;
                font-weight: 400;
                text-align: center;
            }
        }

        .cameraman {
            display: block;
            width: 33.3%;
            float: left;
            box-sizing: border-box;
            padding: 0 20px;

            img {
                display: block;
                max-width: 100%;
                height: auto;
                margin: 0 auto;
            }
        }

        .video {
            display: block;
            width: 33.3%;
            float: left;
            box-sizing: border-box;

            .video-wrapper {
                display: block;
                width: 100%;
                padding-top: 75%;
                position: relative;
                overflow: hidden;
                border-radius: 6px;

                iframe {
                    display: block;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                }
            }
        }

        @media screen and (max-width: 1040px) {

            .description {
                width: 50%;
                padding: 0 20px 0 0;
            }

            .cameraman {
                display: none;
            }

            .video {
                width: 50%;
                padding: 0 0 0 20px;
            }
        }

        @media screen and (max-width: 770px) {

            .description {
                width: 100%;
                padding: 40px 0 0 0;
                float: none;
            }

            .video {
                width: 100%;
                padding: 0;
                float: none;
            }
        }

    }

    .single-description {
        display: block;

        p {
            display: block;
            width: 80%;
            margin: 0 auto;
            padding: 40px 0 0 0;
            color: #6a6a6a;
            font-size: 18px;
            font-weight: 400;
            text-align: center;
        }
    }

}

/* Items Section */

.category-items-section {

    .sort-select-container {
        display: block;
        text-align: center;

        > span {
            display: inline-block;
            color: #6a6a6a;
            font-size: 16px;
            font-weight: 400;
            vertical-align: middle;
            margin-right: 20px;
        }

        .custom-select {
            vertical-align: middle;
        }
    }

    .row {
        display: block;
        margin: 0 -20px;

        .category-item {
            display: block;
            width: 25%;
            box-sizing: border-box;
            padding: 0 20px;
            margin: 0 0 40px 0;
            float: left;

            .item {
                display: block;
                box-sizing: border-box;
                width: 100%;
                border-radius: 8px;
                background: #fff;
                padding: 10px;

                .image {
                    display: block;
                    text-decoration: none;
                    cursor: pointer;
                    width: 100%;
                    height: 200px;

                    img {
                        display: block;
                        max-width: 100%;
                        max-height: 100%;
                        height: auto;
                        width: auto;
                        margin: 0 auto;
                    }
                }

                .title {
                    display: block;
                    text-decoration: none;
                    cursor: pointer;
                    width: 90%;
                    padding: 8px 0;
                    text-align: center;
                    color: #494949;
                    font-size: 18px;
                    margin: 0 auto;
                }

                &:hover {
                    .title {
                        color: #006db7;
                    }
                }

                .details {
                    display: block;
                    width: 90%;
                    text-align: center;
                    color: #494949;
                    font-size: 14px;
                    margin: 0 auto;
                }

                .buy-btn-container {
                    display: block;
                    width: 100%;
                    text-align: center;
                    padding: 15px 0 5px 0;

                    .buy-btn {
                        display: inline-block;
                        outline: none;
                        padding: 10px 18px;
                        background: #3480ff;
                        border: 2px solid #ffd100;
                        border-radius: 6px;
                        color: #fff;
                        text-align: center;
                        cursor: pointer;
                        font-size: 14px;

                        &:hover {
                            background: #5c96fc;
                        }

                        &:disabled {
                            background: #009d00;
                        }
                    }
                }
            }
        }

        @media screen and (max-width: 1250px) {

            .category-item {
                width: 33.3%;
            }
        }

        @media screen and (max-width: 950px) {

            .category-item {
                width: 50%;
            }
        }

        @media screen and (max-width: 630px) {

            .category-item {
                width: 100%;
            }
        }
    }

}