.greeting {
	color: green;
}

.stockage {
	display: block;
	color: #333;
	padding-top: 5px;
	margin-top: 5px;
	border-top: 1px solid #ededed;
}

.bestseller {
	display: block;
	color: green;
	padding-top: 5px;
	margin-top: 5px;
	border-top: 1px solid #ededed;
}

.padding-vert {
	padding-left: 25px !important;
	padding-right: 25px !important;
}