<div style="font-family:'Roboto','Segoe UI','Segoe UI Light',Colibri,sans-serif !important; font-size: 14px; color: black;">
    <p>
        <b>Здравствуйте, %CLIENT_NAME%!</b>
    </p>
    <p>
        Благодарим Вас за заказ в интернет-магазине <i>&laquo;BricksUnity&raquo;</i>!
    </p>
    <p>
        Ваш заказ принят, обрабатывается и будет отправлен в ближайшее время.
    </p>
    <p>
        Номер Вашего заказа: <b>%ORDER_NUMBER%</b>
    </p>

    <p>
        Доставка: Украина, город %CITY%.<br>
        Информация об отделении Новой Почты: %POST_OFFICE%.
    </p>

    <p>
        Оплата заказа осуществляется наложенным платежом в отделении Новой Почты после осмотра товара.
    </p>

    <p style="font-size: 16px;">
        ИТОГО К ОПЛАТЕ (без учета стоимости доставки): <b>%TOTAL_COST% грн</b>.
    </p>
    <p>
        <i>Спасибо, что выбрали наш магазин! С наилучшими пожеланиями, &laquo;BricksUnity&raquo;!</i>
    </p>
</div>