<div style="font-family:'Roboto','Segoe UI','Segoe UI Light',Colibri,sans-serif !important; font-size: 14px; color: black;">
    <p>
        <b>Здравствуйте!</b>
    </p>
    <p>
        Вы получили данное письмо, так как начали процедуру сброса пароля на сайте BricksUnity.
    </p>
    <p>
        Для сброса пароля от вашей учетной записи, пожалуйста, перейдите по ссылке:<br>
        <a href="%LINK%">Сбросить пароль</a>
    </p>
    <p>
        Если это были не Вы, то можете игнорировать это сообщение.
    </p>
    <p>
        С любовью, Ваш BricksUnity :)
    </p>
</div>