<div style="font-family:'Roboto','Segoe UI','Segoe UI Light',Colibri,sans-serif !important; font-size: 14px; color: black;">
    <p>
        <b>Здравствуйте, %NAME%!</b>
    </p>
    <p>
        Благодарим Вас за регистрацию в интернет магазине <b>&laquo;BricksUnity&raquo;</b>!
    </p>
    <p>
        Ваш логин для входа на сайт: <b>%EMAIL%</b>.
    </p>
    <p>
        Надеемся, что использование нашего сайта будет для Вас приятным и полезным!
    </p>
    <p>
        С любовью, Ваш BricksUnity :)
    </p>
</div>