/* Cart header Section */

.cart-header {
    display: block;
    width: 100%;
    background-image: url('/app/assets/img/catalog/bricks-blue-bg.jpg');
    background-size: cover;
    background-position: center top;

    h1 {
        display: block;
        margin: 0;
        padding: 40px 0;
        font-size: 30px;
        color: #fff;
        font-weight: 700;

        @media screen and (max-width: 880px) {
            text-align: center;
            font-size: 22px;
        }
    }
}

/* Cart items Section */

.section-cart-items {

    .cart-item {
        display: block;
        margin: 0 0 20px 0;
        padding: 20px;
        box-sizing: border-box;
        background: #fff;
        border-radius: 6px;

        .row {

            position: relative;

            .image {
                display: block;
                width: 40%;
                float: left;

                img {
                    display: block;
                    max-width: 100%;
                    height: auto;
                    margin: 0 auto;
                }
            }

            .description {
                display: block;
                width: 60%;
                float: left;
                box-sizing: border-box;
                padding: 0 0 0 20px;

                div {

                    h3 {
                        display: block;
                        margin: 0;
                        padding: 0 0 15px 0;
                        color: #6a6a6a;
                        font-size: 26px;
                        font-weight: 700;
                    }

                    p {
                        display: block;
                        margin: 0;
                        padding: 30px 0 30px 0;
                        color: #6a6a6a;
                        font-size: 16px;
                        font-weight: 400;

                        b {
                            font-weight: 700;
                        }
                    }

                    .cart-price {
                        display: block;
                        padding-bottom: 60px;
                        font-size: 26px;
                        font-weight: 700;
                    }
                }
            }

            .cart-remove-item {
                display: block;
                position: absolute;
                bottom: 0;
                right: 0;
                z-index: 50;

                form {
                    display: block;
                    padding: 0;
                    margin: 0;
                    text-align: right;

                    .remove-btn {
                        display: inline-block;
                        outline: none;
                        padding: 6px 12px;
                        background: #dc0014;
                        border: 2px solid #dc0014;
                        border-radius: 6px;
                        color: #fff;
                        text-align: center;
                        cursor: pointer;
                        font-size: 14px;

                        &:hover {
                            background: #eb1325;
                        }
                    }
                }
            }

            @media screen and (max-width: 820px) {

                .image {
                    width: 100%;
                    float: none;
                    padding-bottom: 20px;
                }

                .description {
                    width: 100%;
                    float: none;
                    padding: 0;
                }
            }
        }
    }

    .empty-cart-image {
        display: block;
        padding: 40px 0 300px 0;
        text-align: center;

        img {
            display: inline-block;
            max-width: 100%;
            height: auto;
        }

        span {
            display: block;
            margin: 30px 0 0 0;
            text-align: center;
            font-size: 18px;
            font-weight: 700;
            color: #6a6a6a;
        }
    }
}

/* Cart total Section */

.delivery {

    padding-top: 20px;
    
    p {
        display: block;
        padding: 20px;
        margin: 0;
        background: #fff;
        color: #6a6a6a;
        font-size: 16px;
        font-weight: 700;
        border-radius: 6px;
    }
}

.total {
    padding-top: 20px;

    span {
        display: inline-block;
        vertical-align: baseline;
        font-size: 18px;
        color: #6a6a6a;
        font-weight: 400;

        b {
            font-size: 28px;
            font-weight: 700;
        }
    }

    a {
        float: right;
    }

    @media screen and (max-width: 980px) {
        text-align: center;

        span {
            display: block;
            margin-bottom: 20px;
            text-align: center;
        }

        a {
            float: none;
        }
    }
}