body {
  font-family: 'Roboto Condensed', sans-serif;
  padding: 0;
  margin: 0;
  font-size: 14px;
}

/* Background colors */
.bg-yellow {
  background-color: #ffd100;
}

/* Font colors */
.color-yellow {
  color: #ffd100;
}

.color-blue {
  color: #006db7;
}

/* Margins */
.margin-b-40 {
  margin-bottom: 40px;
}

/* Paddings */
.padding-b-40 {
  padding-bottom: 40px;
}

/* Misc */
.section {
  display: block;
  width: 100%;
}

.heading {
  display: block;
  width: 80%;
  margin: 0 auto;
}

.heading h1, .heading h2, .heading h3, .heading h4, .heading h5, .heading h6 {
  display: block;
  margin: 0;
  padding: 40px 0;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
}

.container {
  display: block;
  width: 1260px;
  margin: 0 auto;
}

.container:after {
  content: "";
  display: block;
  clear: both;
}

@media screen and (max-width: 1430px) {
  .container {
    width: auto;
    margin: 0 80px;
  }
}

@media screen and (max-width: 800px) {
  .container {
    width: auto;
    margin: 0 60px;
  }
}

@media screen and (max-width: 500px) {
  .container {
    width: auto;
    margin: 0 30px;
  }
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

img {
  border: none;
}

/* Buttons */
.btn-container {
  display: block;
  text-align: center;
}

.btn {
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  padding: 8px 16px;
  border-radius: 4px;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
}

.btn:hover {
  border-color: #ffd100;
}

.btn img {
  display: inline-block;
  vertical-align: middle;
  margin-right: 16px;
}

@media screen and (max-width: 1330px) {
  .btn {
    font-size: 16px;
    padding: 6px 12px;
  }
  .btn img {
    margin-right: 12px;
  }
}

@media screen and (max-width: 1270px) {
  .btn {
    font-size: 14px;
    padding: 6px 12px;
  }
  .btn img {
    margin-right: 12px;
  }
}

@media screen and (max-width: 940px) {
  .btn {
    font-size: 14px;
    padding: 6px 12px;
  }
  .btn img {
    margin-right: 12px;
  }
}

.btn.btn-green {
  border: 2px solid #fff;
  background: #009d00;
}

.btn.btn-green:hover {
  border: 2px solid #009d00;
}

/* Notifications */
.notification {
  display: block;
  position: fixed;
  z-index: 9999;
  bottom: 100px;
  right: 0px;
  width: 300px;
  background: #ededed;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
  transform: translateX(100%);
  transition: transform .2s ease;
}

.notification.shown {
  transform: translateX(0%);
}

.notification.warning {
  background: orangered;
}

.notification.success {
  background: green;
}

.notification i {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 15px;
  font-size: 24px;
  color: #fff;
  transform: translateY(-50%);
}

.notification .notification-content {
  display: block;
  box-sizing: border-box;
  padding: 15px 15px 15px 50px;
  font-size: 12px;
  color: #fff;
}

.notification .notification-content > a {
  color: #fff;
  font-weight: 500;
}

@media sreen and (max-width: 305px) {
  .notification {
    width: 100%;
  }
}

/* Items slider */
.items-slider {
  display: block;
  margin: 0 -20px;
  position: relative;
}

.items-slider .slider-wrap {
  position: relative;
  overflow: hidden;
}

.items-slider .slider-wrap .slider-box {
  display: block;
  position: relative;
  left: 0;
  width: 10000px;
  transition: left .5s ease;
}

.items-slider .slider-wrap .slider-box .slider-item {
  display: block;
  float: left;
  width: 300px;
  margin: 0 20px;
}

.items-slider .slider-wrap .slider-box .slider-item .slider-item-product {
  display: block;
  box-sizing: border-box;
  width: 100%;
  border-radius: 8px;
  background: #fff;
  padding: 10px;
}

.items-slider .slider-wrap .slider-box .slider-item .slider-item-product .image {
  display: block;
  text-decoration: none;
  cursor: pointer;
  width: 100%;
  height: 200px;
}

.items-slider .slider-wrap .slider-box .slider-item .slider-item-product .image img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  height: auto;
  width: auto;
  margin: 0 auto;
}

.items-slider .slider-wrap .slider-box .slider-item .slider-item-product .title {
  display: block;
  text-decoration: none;
  cursor: pointer;
  width: 90%;
  height: 25px;
  min-height: 25px;
  overflow: hidden;
  text-align: center;
  color: #494949;
  font-size: 18px;
  margin: 0 auto;
}

.items-slider .slider-wrap .slider-box .slider-item .slider-item-product:hover .title {
  color: #006db7;
  height: auto;
}

.items-slider .slider-wrap .slider-box .slider-item .slider-item-product .details {
  display: block;
  width: 90%;
  text-align: center;
  color: #494949;
  font-size: 14px;
  margin: 0 auto;
}

.items-slider .slider-wrap .slider-box .slider-item .slider-item-product .buy-btn-container {
  display: block;
  width: 100%;
  text-align: center;
  padding: 15px 0 5px 0;
}

.items-slider .slider-wrap .slider-box .slider-item .slider-item-product .buy-btn-container .buy-btn {
  display: inline-block;
  outline: none;
  padding: 10px 18px;
  background: #3480ff;
  border: 2px solid #ffd100;
  border-radius: 6px;
  color: #fff;
  text-align: center;
  cursor: pointer;
  font-size: 14px;
}

.items-slider .slider-wrap .slider-box .slider-item .slider-item-product .buy-btn-container .buy-btn:hover {
  background: #5c96fc;
}

.items-slider .slider-wrap .slider-box .slider-item .slider-item-product .buy-btn-container .buy-btn:disabled {
  background: #009d00;
}

.items-slider .slider-nav {
  display: inline-block;
  position: absolute;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  opacity: 0.5;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  transition: opacity .3s ease;
}

.items-slider .slider-nav:hover {
  opacity: 1;
}

.items-slider .slider-nav.left {
  left: -60px;
}

.items-slider .slider-nav.right {
  right: -60px;
}

.items-slider .slider-nav i {
  display: inline-block;
  color: #fff;
  font-size: 28px;
  vertical-align: middle;
}

@media screen and (max-width: 880px) {
  .items-slider .slider-nav.left {
    left: -30px;
  }
  .items-slider .slider-nav.right {
    right: -30px;
  }
}

@media screen and (max-width: 600px) {
  .items-slider .slider-nav.left {
    left: -20px;
  }
  .items-slider .slider-nav.right {
    right: -20px;
  }
}

/* Imports */
/* Header */
.header {
  display: block;
  width: 100%;
  min-height: 90px;
}

.header .container {
  position: relative;
}

.header .container a.header-logo {
  display: block;
  float: left;
  text-decoration: none;
  cursor: pointer;
  margin-top: 15px;
}

.header .container a.header-logo img {
  display: inline-block;
  width: 100%;
  height: auto;
}

.header .container nav {
  display: block;
  position: absolute;
  left: 280px;
  right: 0;
  top: 30px;
  text-align: right;
}

.header .container nav ul {
  display: inline-block;
  margin: 0;
  padding: 0;
  list-style: none;
  vertical-align: baseline;
}

.header .container nav ul li {
  display: inline-block;
  vertical-align: baseline;
  list-style: none;
  padding: 0;
  margin: 0;
}

.header .container nav ul li a {
  display: online-block;
  text-decoration: none;
  cursor: pointer;
  font-size: 18px;
  font-weight: 700;
  color: #006db7;
  position: relative;
}

.header .container nav ul li a:hover {
  color: #000;
}

.header .container nav ul li a.cart {
  color: #000;
}

.header .container nav ul li a.cart:hover {
  color: #006db7;
}

.header .container nav ul li a img {
  display: inline-block;
  vertical-align: middle;
  margin-right: 8px;
}

.header .container nav ul li a span {
  display: inline-block;
  vertical-align: middle;
  margin-left: 8px;
  font-size: 10px;
  font-weight: 400;
  color: #fff;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  background: #dc0014;
  text-align: center;
  line-height: 24px;
}

.header .container nav ul.left-side li {
  margin-left: 42px;
}

.header .container nav ul.left-side li:first-child {
  margin-left: 0;
}

.header .container nav ul.right-side li {
  margin-left: 80px;
}

.header .container .nav-toggle {
  display: none;
}

@media screen and (max-width: 1450px) {
  .header .container nav ul.left-side li {
    margin-left: 20px;
  }
  .header .container nav ul.left-side li:first-child {
    margin-left: 0;
  }
  .header .container nav ul.right-side li {
    margin-left: 20px;
  }
}

@media screen and (max-width: 1260px) {
  .header .container nav {
    display: none;
    position: initial;
    text-align: center;
    width: 100%;
  }
  .header .container nav:before {
    content: "";
    display: block;
    clear: both;
  }
  .header .container nav ul {
    display: block;
    width: 100%;
  }
  .header .container nav ul li {
    display: block;
    margin: 0;
    width: 100%;
    padding: 0 0 15px 0;
  }
  .header .container nav ul.left-side li {
    margin: 0;
  }
  .header .container nav ul.right-side li {
    margin: 0;
  }
  .header .container .nav-toggle {
    display: block;
    position: absolute;
    top: 25px;
    right: 20px;
    border-radius: 4px;
    padding: 5px 10px;
    border: 1px solid #006db7;
    background: none;
    color: #006db7;
    font-size: 18px;
    outline: none;
    cursor: pointer;
  }
  .header .container .nav-toggle:hover {
    color: #000;
    border: 1px solid #000;
  }
}

.main-slider {
  display: block;
  width: 100%;
  height: 415px;
  position: relative;
  overflow: hidden;
}

.main-slider .slides-container {
  display: block;
  position: absolute;
  width: 10000px;
  height: 100%;
  top: 0;
  left: 0;
  transition: left .7s ease;
}

.main-slider .slides-container::after {
  content: "";
  display: block;
  clear: both;
}

.main-slider .slides-container .slide {
  display: block;
  position: relative;
  height: 100%;
  width: 1920px;
  float: left;
}

.main-slider .slides-container .slide .slide-content {
  position: relative;
  height: 100%;
  background-position: top right;
  background-repeat: no-repeat;
  background-size: contain;
}

.main-slider .slides-container .slide .slide-content .left-panel {
  display: block;
  width: 30%;
  height: 100%;
  position: relative;
}

.main-slider .slides-container .slide .slide-content .left-panel .panel-content {
  display: block;
  position: absolute;
  width: 100%;
  height: auto;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.main-slider .slides-container .slide .slide-content .left-panel .panel-content h1, .main-slider .slides-container .slide .slide-content .left-panel .panel-content h2, .main-slider .slides-container .slide .slide-content .left-panel .panel-content h3 {
  display: block;
  margin: 0;
  padding: 0 0 25px 0;
  font-size: 30px;
  color: #fff;
  font-weight: 700;
}

.main-slider .slides-container .slide .slide-content .left-panel .panel-content p {
  display: block;
  margin: 0;
  padding: 0 0 30px 0;
  font-size: 18px;
  color: #fff;
  font-weight: 400;
  text-align: left;
}

.main-slider .slides-container .slide .slide-content .left-panel .panel-content .slider-btn {
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  padding: 8px 16px;
  border: 2px solid #fff;
  border-radius: 4px;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
}

.main-slider .slides-container .slide .slide-content .left-panel .panel-content .slider-btn:hover {
  border-color: #ffd100;
}

.main-slider .slides-container .slide .slide-content .left-panel .panel-content .slider-btn img {
  display: inline-block;
  vertical-align: middle;
  margin-right: 16px;
}

@media screen and (max-width: 1330px) {
  .main-slider {
    height: 350px;
  }
  .main-slider .slides-container .slide .slide-content .left-panel {
    width: 40%;
  }
  .main-slider .slides-container .slide .slide-content .left-panel .panel-content h1, .main-slider .slides-container .slide .slide-content .left-panel .panel-content h2, .main-slider .slides-container .slide .slide-content .left-panel .panel-content h3 {
    font-size: 26px;
    color: #fff;
  }
  .main-slider .slides-container .slide .slide-content .left-panel .panel-content p {
    font-size: 16px;
  }
  .main-slider .slides-container .slide .slide-content .left-panel .panel-content .slider-btn {
    font-size: 16px;
    padding: 6px 12px;
  }
  .main-slider .slides-container .slide .slide-content .left-panel .panel-content .slider-btn img {
    margin-right: 12px;
  }
}

@media screen and (max-width: 1270px) {
  .main-slider {
    height: 280px;
  }
  .main-slider .slides-container .slide .slide-content .left-panel {
    width: 40%;
  }
  .main-slider .slides-container .slide .slide-content .left-panel .panel-content h1, .main-slider .slides-container .slide .slide-content .left-panel .panel-content h2, .main-slider .slides-container .slide .slide-content .left-panel .panel-content h3 {
    font-size: 22px;
    color: #fff;
  }
  .main-slider .slides-container .slide .slide-content .left-panel .panel-content p {
    font-size: 14px;
  }
  .main-slider .slides-container .slide .slide-content .left-panel .panel-content .slider-btn {
    font-size: 14px;
    padding: 6px 12px;
  }
  .main-slider .slides-container .slide .slide-content .left-panel .panel-content .slider-btn img {
    margin-right: 12px;
  }
}

@media screen and (max-width: 940px) {
  .main-slider {
    height: 300px;
  }
  .main-slider .slides-container .slide .slide-content {
    background-image: none !important;
  }
  .main-slider .slides-container .slide .slide-content .left-panel {
    width: 80%;
    margin: 0 auto;
  }
  .main-slider .slides-container .slide .slide-content .left-panel .panel-content h1, .main-slider .slides-container .slide .slide-content .left-panel .panel-content h2, .main-slider .slides-container .slide .slide-content .left-panel .panel-content h3 {
    text-align: center;
  }
  .main-slider .slides-container .slide .slide-content .left-panel .panel-content p {
    text-align: center;
  }
  .main-slider .slides-container .slide .slide-content .left-panel .panel-content .slide-btn-container {
    text-align: center;
  }
  .main-slider .slides-container .slide .slide-content .left-panel .panel-content .slider-btn {
    font-size: 14px;
    padding: 6px 12px;
  }
  .main-slider .slides-container .slide .slide-content .left-panel .panel-content .slider-btn img {
    margin-right: 12px;
  }
}

.main-slider .slide-control {
  display: inline-block;
  position: absolute;
  z-index: 100;
  text-decoration: none;
  cursor: pointer;
  width: 50px;
  height: 50px;
  opacity: 0.5;
  top: 50%;
  transform: translateY(-50%);
  line-height: 50px;
  text-align: center;
  transition: opacity .3s ease-in-out;
}

.main-slider .slide-control:hover {
  opacity: 1;
}

.main-slider .slide-control.prev {
  left: 30px;
}

.main-slider .slide-control.next {
  right: 30px;
}

.main-slider .slide-control i {
  display: inline-block;
  vertical-align: middle;
  color: #fff;
  font-size: 30px;
}

@media screen and (max-width: 940px) {
  .main-slider .slide-control.prev {
    left: 3px;
  }
  .main-slider .slide-control.next {
    right: 3px;
  }
}

/* Home About Section */
.section-home-about p {
  display: block;
  padding: 0;
  margin: 0 auto 40px auto;
  width: 80%;
  text-align: center;
  color: #6a6a6a;
  font-size: 18px;
  font-weight: 400;
}

@media screen and (max-width: 830px) {
  .section-home-about p {
    font-size: 16px;
  }
}

.section-home-about img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}
