body {
    font-family: 'Roboto Condensed', sans-serif;
    padding: 0;
    margin: 0;
    font-size: 14px;
}

/* Background colors */

.bg-yellow {
    background-color: #ffd100;
}

.bg-blue {
    background-color: #006db7;
}

/* Font colors */

.color-yellow {
    color: #ffd100;
}

.color-blue {
    color: #006db7;
}

.color-white {
    color: #fff;
}

.color-green {
    color: #009d00;
}

.color-gray {
    color: #6a6a6a;
}

/* Margins */

.margin-b-40 {
    margin-bottom: 40px;
}

/* Paddings */

.padding-b-40 {
    padding-bottom: 40px;
}

.padding-t-40 {
    padding-top: 40px;;
}

.padding-b-150 {
    padding-bottom: 150px;
}

/* Misc */

.section {
    display: block;
    width: 100%;
}

.heading {
    display: block;
    width: 80%;
    margin: 0 auto;

    h1, h2, h3, h4, h5, h6 {
        display: block;
        margin: 0;
        padding: 40px 0;
        text-align: center;
        font-size: 24px;
        font-weight: 700;
    }
}

.container {
    display: block;
    width: 1260px;
    margin: 0 auto;

    &:after {
        content: "";
        display: block;
        clear: both;
    }

    @media screen and (max-width: 1430px) {
        width: auto;
        margin: 0 80px;
    }

    @media screen and (max-width: 800px) {
        width: auto;
        margin: 0 60px;
    }

    @media screen and (max-width: 500px) {
        width: auto;
        margin: 0 30px;
    }

}


.clearfix {

    &:after {
        content: "";
        display: block;
        clear: both;
    }

}

img {
    border: none;
}

.align-left {
    text-align: left !important;
}

.align-center {
    text-align: center !important;
}

.align-right {
    text-align: right !important;
}

.no-items-butterfly {
    display: block;
    text-align: center;
    padding: 100px 0;

    img {
        display: inline-block;
        max-width: 100%;
        height: auto;
    }

    span {
        display: block;
        text-align: center;
        font-size: 18px;
        font-weight: 700;
        color: #6a6a6a;
        padding: 40px 0;
    }
}

/* Buttons */

.btn-container {
    display: block;
    text-align: center;
}

.btn {
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    padding: 8px 16px;
    border-radius: 4px;
    color: #fff;
    font-size: 18px;
    font-weight: 700;

    &:hover {
        border-color: #ffd100;
    }

    img {
        display: inline-block;
        vertical-align: middle;
        margin-right: 16px;
    }

    @media screen and (max-width: 1330px) {
        font-size: 16px;
        padding: 6px 12px;

        img {
            margin-right: 12px;
        }
    }

    @media screen and (max-width: 1270px) {
        font-size: 14px;
        padding: 6px 12px;

        img {
            margin-right: 12px;
        }
    }

    @media screen and (max-width: 940px) {
        font-size: 14px;
        padding: 6px 12px;

        img {
            margin-right: 12px;
        }
    }

    &.btn-green {
        border: 2px solid #fff;
        background: #009d00;

        &:hover {
            border: 2px solid #009d00;
        }
    }
}

.link {
    display: inline-block;
    margin: 0 15px;
    vertical-align: middle;
    font-size: 16px;
    font-weight: 400;
}

/* Custaom select */

.custom-select {
    display: inline-block;
    height: 40px;
    line-height: 39px;
    padding: 0 20px;
    margin: 0;
    border-radius: 6px;
    position: relative;
    cursor: pointer;

    select {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 30;
        opacity: 0;
    }

    span {
        display: inline-block;
        color: #fff;
        font-size: 16px;
        font-weight: 400;
        vertical-align: middle;
        margin-right: 10px;
    }

    i {
        display: inline-block;
        vertical-align: middle;
        color: #fff;
        font-size: 18px;
    }
}

/* Notifications */

.notification {
    display: block;
    position: fixed;
    z-index: 9999;
    bottom: 100px;
    right: 0px;
    width: 300px;
    background: #ededed;
    box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
    transform: translateX(100%);
    transition: transform .2s ease;

    &.shown {
        transform: translateX(0%);
    }

    &.warning {
        background: orangered;
    }

    &.success {
        background: green;
    }

    i {
        display: inline-block;
        position: absolute;
        top: 50%;
        left: 15px;
        font-size: 24px;
        color: #fff;
        transform: translateY(-50%);
    }

    .notification-content {
        display: block;
        box-sizing: border-box;
        padding: 15px 15px 15px 50px;
        font-size: 12px;
        color: #fff;

        > a {
            color: #fff;
            font-weight: 500;
        }
    }

    @media sreen and (max-width: 305px) {
        width: 100%;
    }
}

/* Items slider */

.items-slider {
    display: block;
    margin: 0 -20px;
    position: relative;

    .slider-wrap {

        position: relative;
        overflow: hidden;

        .slider-box {
            display: block;
            position: relative;
            left: 0;
            width: 10000px;
            transition: left .5s ease;

            .slider-item {
                display: block;
                float: left;
                width: 300px;
                margin: 0 20px;

                .slider-item-product {
                    display: block;
                    box-sizing: border-box;
                    width: 100%;
                    border-radius: 8px;
                    background: #fff;
                    padding: 10px;

                    .image {
                        display: block;
                        text-decoration: none;
                        cursor: pointer;
                        width: 100%;
                        height: 200px;

                        img {
                            display: block;
                            max-width: 100%;
                            max-height: 100%;
                            height: auto;
                            width: auto;
                            margin: 0 auto;
                        }
                    }

                    .title {
                        display: block;
                        text-decoration: none;
                        cursor: pointer;
                        width: 90%;
                        height: 25px;
                        min-height: 25px;
                        overflow: hidden;
                        text-align: center;
                        color: #494949;
                        font-size: 18px;
                        margin: 0 auto;
                    }

                    &:hover {
                        .title {
                            color: #006db7;
                            height: auto;
                        }
                    }

                    .details {
                        display: block;
                        width: 90%;
                        text-align: center;
                        color: #494949;
                        font-size: 14px;
                        margin: 0 auto;
                    }

                    .buy-btn-container {
                        display: block;
                        width: 100%;
                        text-align: center;
                        padding: 15px 0 5px 0;

                        .buy-btn {
                            display: inline-block;
                            outline: none;
                            padding: 10px 18px;
                            background: #3480ff;
                            border: 2px solid #ffd100;
                            border-radius: 6px;
                            color: #fff;
                            text-align: center;
                            cursor: pointer;
                            font-size: 14px;

                            &:hover {
                                background: #5c96fc;
                            }

                            &:disabled {
                                background: #009d00;
                            }
                        }
                    }
                }
            }
        }
    }

    .slider-nav {
        display: inline-block;
        position: absolute;
        width: 50px;
        height: 50px;
        line-height: 50px;
        text-align: center;
        opacity: 0.5;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
        transition: opacity .3s ease;

        &:hover {
            opacity: 1;
        }

        &.left {
            left: -60px;
        }

        &.right {
            right: -60px;
        }

        i {
            display: inline-block;
            color: #fff;
            font-size: 28px;
            vertical-align: middle;
        }

        @media screen and (max-width: 880px) {
            &.left {
                left: -30px;
            }

            &.right {
                right: -30px;
            }
        }


        @media screen and (max-width: 600px) {
            &.left {
                left: -20px;
            }

            &.right {
                right: -20px;
            }
        }
    }
}

/* Form Controls */

.form-group {
    display: block;
    padding: 15px 0;

    label {
        display: block;
        font-size: 16px;
        color: #6a6a6a;
        font-weight: 700;
        padding-bottom: 10px;
    }

    .form-control {
        display: block;
        width: 100%;
        box-sizing: border-box;
        padding: 10px 20px;
        border: 2px solid #fff;
        font-size: 14px;
        color: #6a6a6a;
        background: #fff;
        border-radius: 6px;
        outline: none;

        &:focus {
            border: 2px solid #3480ff;
        }
    }

    textarea {
        min-height: 150px;
    }

    .form-error-message {
        display: block;
        padding: 5px 0;
        margin: 0;
        font-size: 14px;
        color: red;
        font-weight: 400;
    }

    .form-text {
        display: block;
        padding: 0;
        margin: 0;
        font-size: 16px;
        color: #6a6a6a;
        font-weight: 700;
    }
}

/* Form Alerts */

.form-alert {
    display: block;
    padding: 15px 20px;
    font-size: 16px;
    color: #fff;
    font-weight: 400;
    border-radius: 6px;

    &.warning {
        background: orange;
    }

    &.success {
        background: #009d00;
    }
}

/* Site alerts */

.alert {
    display: block;
    padding: 20px 0;

    &.success {
        background: #009d00;
    }

    div {
        font-size: 16px;
        font-weight: 400;
        color: #fff;
        text-align: center;
    }
}

/* Imports */

@import 'common/_header.scss';
@import 'common/_footer.scss';
@import 'home/_home.scss';
@import 'catalog/_catalog.scss';
@import 'category/_category.scss';
@import 'product/_product.scss';
@import 'cart/_cart.scss';
@import 'order/_order.scss';
@import 'account/_account.scss';
@import 'news/_news.scss';
