/* Categories list */

.catgories-list {
    display: block;
    box-sizing: border-box;
    width: 25%;
    margin: 0;
    padding: 0 10px;
    float: left;
}

.catgories-list .categories {
    display: block;
}

.catgories-list .categories ul {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
}

.catgories-list .categories ul li {
    display: block;
    margin: 0;
    width: 100%;
    padding: 10px 0;
    list-style: none;
    border-top: 1px solid #e6e6e6;
}

.catgories-list .categories ul li:first-child {
    padding-top: 0;
    border-top: none;
}

.catgories-list .categories ul li > span {
    display: inline-block;
    width: 24px;
    height: 30px;
    vertical-align: middle;
    margin-right: 10px;
    background-image: url(/app/assets/img/common/category-icons-min.png);
    background-repeat: no-repeat;
}

.catgories-list .categories ul li > a {
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    font-size: 14px;
    color: #747474;
    vertical-align: middle;
}

.catgories-list .categories ul li > a:hover {
    text-decoration: underline;
}

/* Catalog content */

.catalog-content {
    display: block;
    box-sizing: border-box;
    width: 75%;
    margin: 0;
    padding: 0 10px;
    float: right;
    margin-top: 30px;
}

.catalog-content .share-slider {
    display: block;
    margin: 0 -5px;
    padding: 0;
}

.catalog-content .catalog-share {
    display: none;
    box-sizing: border-box;
    padding: 0 5px;
    margin: 0;
    width: 33%;
    float: left;
}

.catalog-content .catalog-share .share-container {
    display: block;
    width: 100%;
    padding-top: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    text-decoration: none;
    cursor: pointer;
}

.catalog-content .catalog-slider {
    display: block;
    box-sizing: border-box;
    padding: 0 5px;
    margin: 0;
    /*width: 66%;*/
    width: 100%;
    float: right;
}

.catalog-content .catalog-slider .slider-container {
    display: block;
    position: relative;
    width: 100%;
    padding-top: 41.3%;
    overflow: hidden;
}

@media screen and (max-width: 1020px) {
    .catalog-content .catalog-share {
        display: none;
    }

    .catalog-content .catalog-slider {
        width: 100%;
        float: none;
    }
}

@media screen and (max-width: 920px) {
    .catgories-list {
        width: 100%;
        float: none;
    }

    .catgories-list .categories {
        margin: 0 -5px 30px -5px;
    }

    .catgories-list .categories ul {
        display: block;
        margin: 0;
        padding: 0;
        list-style: none;
    }

    .catgories-list .categories ul li {
        box-sizing: border-box;
        margin: 0;
        width: 33%;
        padding: 10px 5px;
        border-top: 1px solid #e6e6e6;
        float: left;
        border: none;
    }

    .catgories-list .categories ul li:first-child {
        padding-top: 10px;
    }

    .catalog-content {
        width: 100%;
        float: none;
    }
}

@media screen and (max-width: 700px) {

    .catgories-list .categories ul li {
        width: 50%;
    }
}

@media screen and (max-width: 480px) {

    .catgories-list .categories ul li {
        width: 100%;
        border-top: 1px solid #e6e6e6;
    }

    .catgories-list .categories ul li:first-child {
        border-top: none;
        padding-top: 0;
    }
}

.catalog-content .catalog-hero {
    display: block;
    width: 100%;
    margin-bottom: 30px;
}

.catalog-content .catalog-hero > img {
    display: block;
    width: 100%;
    max-width: 100%;
    height: auto;
}

/* Filters */

.catgories-list .filters {
    display: block;
}

.catgories-list .filters ul {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
}

.catgories-list .filters ul li {
    display: block;
    margin: 0;
    width: 100%;
    padding: 7px 0;
    list-style: none;
}

.catgories-list .filters ul li:first-child {
    padding-top: 0;
}

.catgories-list .filters ul li span {
    display: inline-block;
    font-size: 12px;
    vertical-align: middle;
    color: #747474;
    margin-left: 10px;
}

@media screen and (max-width: 920px) {
    .catgories-list .filters ul {
        display: block;
        margin: 0;
        padding: 0;
    }

    .catgories-list .filters ul li {
        box-sizing: border-box;
        margin: 0;
        width: 33%;
        padding: 10px 5px;
        float: left;
    }

    .catgories-list .filters ul li:first-child {
        padding-top: 7px;
    }
}

@media screen and (max-width: 700px) {

    .catgories-list .filters ul li {
        width: 50%;
    }
}

@media screen and (max-width: 480px) {

    .catgories-list .filters ul li {
        width: 100%;
    }

    .catgories-list .filters ul li:first-child {
        border-top: none;
        padding-top: 0;
    }
}

/* Sort and filters */

.filters-sort {
    display: block;
}

.filters-sort .label {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    color: #666;
}

.filters-sort .order {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}

.filters-sort .in-stock {
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
}

.filters-sort .total-items-count {
    display: inline-block;
    float: right;
    font-size: 14px;
    color: #666;
    font-style: italic;
    height: 24px;
    line-height: 24px;
}

/* Product grid */

.product-grid {
    box-sizing: border-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    margin: 30px -10px 0 -10px;
}

.product-grid .grid-item {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    box-sizing: border-box;
    padding: 10px 10px;
    width: 20%;
}

.product-grid .grid-item .product {
    display: block;
    width: 100%;
    text-decoration: none;
    cursor: pointer;
}

.product-grid .grid-item .product .image {
    display: block;
    width: 90%;
    height: 140px;
    margin: 0 auto;
}

.product-grid .grid-item .product .image > img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    margin: 0 auto;
}

.product-grid .grid-item .product .title {
    display: block;
    width: 140px;
    margin: 5px auto;
    height: 55px;
    overflow: hidden;
    font-size: 14px;
    color: #787878;
    text-align: center;
    border-bottom: 1px solid #d8262f;
    position: relative;
}

.product-grid .grid-item .product .title::after {
    content: "";
    display: block;
    position: absolute;
    z-index: 10;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10px;
    background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}

.product-grid .grid-item .product .title:hover {
    height: auto;
    min-height: 55px;
    color: #d8262f;
}

.product-grid .grid-item .product .title:hover::after {
    display: none;
}

.product-grid .grid-item .product:hover .title {
    color: #d8262f;
}

.product-grid .grid-item .product .price {
    display: block;
    margin-top: 10px;
    text-align: center;
    font-size: 14px;
    color: #202020;
    font-weight: 500;
}

@media screen and (max-width: 1150px) {
    .product-grid .grid-item {
        width: 25%;
    }
}

@media screen and (max-width: 750px) {
    .product-grid .grid-item {
        width: 33%;
    }
}

@media screen and (max-width: 540px) {
    .product-grid .grid-item {
        width: 50%;
    }
}

@media screen and (max-width: 350px) {
    .product-grid .grid-item {
        width: 100%;
    }
}

/* Breadcrumbs */

.breadcrumbs {
    display: block;
    width: 100%;
    margin: 30px 0;
}

.breadcrumbs ul {
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
}

.breadcrumbs ul li {
    display: inline-block;
    vertical-align: top;
    padding: 0;
    margin: 0;
    list-style: none;
    font-weight: 300;
    font-size: 22px;
    color: #444;
}

.breadcrumbs ul li::after {
    content: "/";
    display: inline-block;
    margin: 0 5px;
    font-weight: 300;
    font-size: 22px;
    color: #444;
    vertical-align: top;
}

.breadcrumbs ul li:last-child::after {
    display: none;
}

.breadcrumbs ul li a {
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    font-weight: 300;
    font-size: 22px;
    color: #444;
}

.breadcrumbs ul li a:hover {
    text-decoration: underline;
}

/* Product description  */

.product-header > h1,
.product-header > h2,
.product-header > h3,
.product-header > h4,
.product-header > h5,
.product-header > h6 {
    display: block;
    padding: 0 0 10px 0;
    margin: 0 0 20px 0;
    border-bottom: 1px solid #d8262f;
    font-size: 16px;
    font-weight: 500;
    color: #505050;
}

.catalog-content .product-section {
    display: block;
    width: 100%;
}

.catalog-content .product-section > div {
    display: block;
    width: 50%;
    float: left;
    box-sizing: border-box;
}

.catalog-content .product-section > .image {
    padding: 0 10px 0 0;
}

.catalog-content .product-section > .image img {
    display: block;
    width: 80%;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}

.catalog-content .product-section > .description {
    padding: 0 0 0 10px;
}

.catalog-content .product-section > .description .about {
    display: block;
}

.catalog-content .product-section > .description .about p {
    display: block;
    margin: 0 0 20px 0;
    padding: 0;
    font-size: 14px;
    color: #727272;
    font-weight: 400;
}

.catalog-content .product-section > .description > .details {
    display: block;
    padding: 7px 12px;
    background: #f5f5f5;
}

.catalog-content .product-section > .description > .details table {
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    border: none;
}

.catalog-content .product-section > .description > .details table tr td {
    border: none;
    width: 50%;
    padding: 5px 0;
    text-align: left;
    margin: 0;
    font-size: 14px;
    color: #727272;
    vertical-align: top;
}

.catalog-content .product-section > .description > .details table tr td:first-child {
    color: #444444;
}

.catalog-content .product-section > .description > .price-favourites {
    display: block;
    margin-top: 20px;
}

.catalog-content .product-section > .description > .price-favourites > .price {
    display: block;
    width: 40%;
    float: left;
    font-size: 16px;
    font-weight: 500;
    color: #505050;
    padding-top: 6px;
}

.catalog-content .product-section > .description > .price-favourites > .fovourites {
    display: block;
    width: 60%;
    float: right;
}

.catalog-content .aditional-description {
    display: block;
    margin: 0 0 20px 0;
    font-size: 14px;
    color: #727272;
    font-weight: 400;
}

.catalog-content .aditional-description p {
    display: block;
    margin: 10px 0 10px 0;
    padding: 0;
    font-size: 14px;
    color: #727272;
    font-weight: 400;
}

.catalog-content .aditional-description ul,
.catalog-content .aditional-description ol {
    margin: 10px 0 10px 0;
    padding: 0 0 0 20px;
    display: block;
}

.catalog-content .aditional-description ul li,
.catalog-content .aditional-description ol li {
    font-size: 14px;
    color: #727272;
    font-weight: 400;
    padding: 2px 0;
}

.catalog-content .product-alert {
    display: block;
    display: block;
    margin: 0 0 20px 0;
    padding: 20px 50px 20px 10px;
    position: relative;
    background: #f5f5f5;
    font-size: 12px;
    color: #929292;
    font-weight: 400;
}

.catalog-content .product-alert p {
    display: block;
    margin: 15px 0 15px 0;
    padding: 0;
    font-size: 12px;
    color: #929292;
    font-weight: 400;
}

.catalog-content .product-alert ol,
.catalog-content .product-alert ul {
    margin: 0 0 0 0;
    padding: 0 0 0 20px;
    display: block;
}

.catalog-content .product-alert ol li,
.catalog-content .product-alert ul li {
    font-size: 12px;
    color: #929292;
    font-weight: 400;
    padding: 2px 0 2px 10px;
}

.catalog-content .product-alert > .alert-icon {
    display: inline-block;
    font-size: 28px;
    position: absolute;
    z-index: 20;
    color: #929292;
    top: 20px;
    right: 20px;
}

@media screen and (max-width: 770px) {
    .catalog-content .product-section > div {
        width: 100%;
        float: none;
    }

    .catalog-content .product-section > .image {
        padding: 0 ;
    }

    .catalog-content .product-section > .image img {
        display: block;
        width: 80%;
        max-width: 100%;
        height: auto;
        margin: 0 auto;
    }

    .catalog-content .product-section > .description {
        padding: 0;
    }

    .catalog-content .product-section > .description > .price-favourites {
        margin-bottom: 20px;
    }

    .catalog-content .product-alert > .alert-icon {
        display: none;
    }
}